/* Стили для кнопки "Вверх" */
#toTopBtn {
  display: none; /* Скрыта по умолчанию */
  position: fixed; /* Фиксированное положение */
  bottom: 20px; /* Расположение снизу */
  right: 30px; /* Расположение справа */
  z-index: 99; /* Поверх всего остального контента */
  font-size: 18px; /* Размер шрифта */
  border: none; /* Без границы */
  outline: none; /* Без обводки */
  background-color: #555; /* Цвет фона */
  color: white; /* Цвет текста */
  cursor: pointer; /* Указатель курсора */
  padding: 15px; /* Внутренние отступы */
  border-radius: 10px; /* Скругленные углы */
}

#toTopBtn:hover {
  background-color: #000; /* Темнее при наведении */
}
