<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Цветочный магазин{% endblock %}</title>
</head>
<body>
    <header>
        <h1>Добро пожаловать в цветочный магазин</h1>
        <nav>
            <ul>
                <li><a href="{% url 'index' %}">Главная</a></li>
                <li><a href="{% url 'catalog' %}">Каталог товаров</a></li>
                <li><a href="{% url 'cart_detail' %}">Корзина</a></li>
                <li><a href="{% url 'admin_order_list' %}">Заказы</a></li>
                <li><a href="{% url 'reviews_list' %}">Отзывы</a></li>  <!-- Обновленная ссылка -->
                <li><a href="{% url 'analytics' %}">Аналитика</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>Все права защищены © 2023</p>
    </footer>
</body>
</html>
