<!-- main/templates/main/user_kabinet.html -->
{% extends 'main/base.html' %}

{% block title %}Личный кабинет{% endblock %}

{% block content %}
    <h2>Личный кабинет</h2>
    <h3>Мои заказы</h3>

    {% for order_info in orders_info %}
        <div class="order">
            <h4>Заказ №{{ order_info.order.ID }}</h4>
            <p>Дата: {{ order_info.order.DataZakaza|date:"d.m.Y H:i" }}</p>
            <p>Адрес доставки: {{ order_info.adresa.Gorod }}, {{ order_info.adresa.adres }}</p>
            <p>Контактное лицо: {{ order_info.adresa.kontakt }}</p>
            <p>Телефон для связи: {{ order_info.adresa.telefon }}</p>

            <h5>Товары:</h5>
            <ul>
                {% for item in order_info.otgruzki %}
                    <li>{{ item.tovar_id.Nazvanie }} - {{ item.cena }} руб. ({{ item.quantity }} шт.)</li>
                {% endfor %}
            </ul>
            <p><strong>Общая стоимость: {{ order_info.total_price }} руб.</strong></p>
        </div>
        <hr>
    {% endfor %}
{% endblock %}
