{% extends 'main/base.html' %}
{% load widget_tweaks %}
{% load static %}
{% block title %}Каталог товаров{% endblock %}

{% block content %}
    {% if request.user.StatusID_id == 3 %}
        <a href="{% url 'tovar_create' %}" class="btn btn-success mb-4">Добавить товар</a>
    {% endif %}

    <h2 class="mt-4">Каталог товаров</h2>
    <form method="get" class="form-inline mb-4">
        <div class="form-group mx-sm-3 mb-2">
            {{ form.query|add_class:"form-control" }}
        </div>
        <div class="form-group mx-sm-3 mb-2">
            {{ form.category|add_class:"form-control" }}
        </div>
        <div class="form-group mx-sm-3 mb-2">
            {{ form.type|add_class:"form-control" }}
        </div>
        <button type="submit" class="btn btn-primary mb-2">Поиск</button>
    </form>
    <div class="row">
        {% if tovars %}
            {% for tovar in tovars %}
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <div class="card-img-top-container">
                            {% if tovar.Img_url %}
                                <img src="{{ tovar.Img_url }}" class="card-img-top" alt="{{ tovar.Nazvanie }}">
                            {% else %}
                                <img src="/static/images/default-image.jpg" class="card-img-top" alt="Изображение товара">
                            {% endif %}
                        </div>
                        <div class="card-body">
                            <h5 class="card-title mb-2">{{ tovar.Nazvanie }}</h5>
                            <p class="card-text description mb-1">{{ tovar.Opisanie }}</p>
                            <p class="card-text mb-1"><strong>Цена: {{ tovar.Cena }} руб.</strong></p>
                            <p class="card-text mb-1">Рейтинг: {{ tovar.Reiting }}</p>
                            <form method="post" action="{% url 'add_to_cart' tovar.ID %}">
                                {% csrf_token %}
                                <input type="hidden" name="next" value="{% url 'catalog' %}">
                                <div class="form-group row mb-1">
                                    <label for="quantity" class="col-auto col-form-label">Количество:</label>
                                    <div class="col-auto">
                                        <input type="number" name="quantity" class="form-control" value="1" min="1" style="width: 100%;">
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-success save-scroll btn-sm mb-2">В корзину</button>
                                <a href="{% url 'karta_tovara' tovar.ID %}" class="btn btn-primary btn-sm">Подробнее</a>
                            </form>
                            {% if request.user.StatusID_id == 3 %}
                                <a href="{% url 'tovar_edit' tovar.ID %}" class="btn btn-warning btn-sm mt-2">Редактировать</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p>Товары не найдены.</p>
        {% endif %}
    </div>
{% endblock %}
