<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Каталог товаров</title>
</head>
<body>
    <h2>Каталог товаров</h2>
    <form method="get">
        {{ form.as_p }}
        <button type="submit">Поиск</button>
    </form>
    <ul>
        {% for tovar in tovars %}
            <li>{{ tovar.Nazvanie }} - {{ tovar.Cena }} руб.</li>
        {% endfor %}
    </ul>
</body>
</html>
