<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Отзывы для {{ tovar.Nazvanie }}</title>
</head>
<body>
    <h2>Отзывы для {{ tovar.Nazvanie }}</h2>
    <ul>
        {% for review in reviews %}
            <li>
                {{ review.Otziv }} - Рейтинг: {{ review.ReitingTovara }}<br>
                Автор: {{ review.ID_User.email }}
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'add_review' tovar.id %}">Добавить отзыв</a>
</body>
</html>
